/* styles.tcss */
MatchCard {
  border: solid teal;
  padding: 0 1;
  margin: 0;
  width: 1fr;
  min-width: 65;
}

.match-container {
  layout: grid;
  grid-rows: auto;
  grid-gutter: 1 2;
  height: auto;
}
