/* styles.tcss */
MatchCard {
  border: solid teal;
  padding: 0 1;
  margin: 0;
  width: 100%;
}

.match-container {
  layout: grid;
  grid-size: 2;
  grid-columns: 1fr 1fr;
  grid-rows: auto;
  grid-gutter: 1 2;
  height: auto;
}
